# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django media and static
*.log
local_settings.py

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# VSCode settings
.vscode/

# Other OS files
.DS_Store
Thumbs.db
